*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    text-align: left;
    text-shadow:peru;
    text-emphasis-color: initial;
}
Book{
    align:center;
    border-radius: 1rem;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}